.tableSection {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    &__navTabs {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        padding-left: 1rem;

        @media(min-width:425px) {
            padding-left: 1.875rem;
        }

        @media(min-width:501px) {
            padding-left: 4.375rem;
        }

        &__item {
            padding-right: 2.5rem;
            font-family: Albert Sans;
            font-weight: 500;
            font-size: 0.875rem;
            color: #280B3D;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__btn--selected {
                border-bottom: 3px solid;
                border-color: #7B3CEA;
            }

            &__btn {
                position: relative;
                min-height: 100%;
                display: flex;
                padding-bottom: 1.25rem;
            }

            &__btn--hover:hover {
                color: #7B3CEA;
                cursor: pointer
            }
        }
    }
}