.table {
    background-color: #FFFFFF;
    outline: 1px solid #DDD8DE;
    margin-top: 3.75rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-width: 75rem;
    border-radius: 5px;
    border-collapse: collapse;

    &__colWrapper {
        border-bottom: 1px solid #DDD8DE;

        &__colHeader {
            font-family: 'Albert Sans';
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.125rem;
            color: #6E637E;
            text-align: left;
        }
    }

    &__row {
        border-bottom: 1px solid #DDD8DE;
        font-family: 'Albert Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: #000000;

        &__cell {
            opacity: 0.3;
        }
    }

    &__rowBtm {
        font-family: 'Albert Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: #000000;

        &__cell {
            opacity: 0.3;
        }
    }

    &__row__cell--booked {
        color: #1A1A1A;
        opacity: 1;
    }

    &__row--bookNow {
        font-family: 'Cy';
        color: #7B3CEA;
    }

    &__rowBtm--bookNow {
        font-family: 'Cy';
        color: #7B3CEA;
    }
}