.backDrop {
    background-color: #F9F8F6;
    height: 100%;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    padding-top: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: scroll;

    @media(min-width:360px) {
        padding-top: 3.75rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @media(min-width:520px) {
        width: 84vw;
    }

    @media(min-width:768px) {
        width: 92vw;
    }

    &__table {
        background-color: #FFFFFF;
        outline: 1px solid #DDD8DE;
        border-radius: 5px;
        border-collapse: collapse;

        &__colWrapper {
            border-bottom: 1px solid #DDD8DE;

            &__colHeader {
                font-family: 'Albert Sans';
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.125rem;
                color: #6E637E;
                text-align: left;
                padding: 1rem;
                width: 16.75rem;
            }
        }

        &__row {
            border-bottom: 1px solid #DDD8DE;
            font-family: 'Albert Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.375rem;
            color: #000000;

            &__cell {
                opacity: 0.3;
                padding-left: 1rem;
            }

            &__cell--booked {
                color: #1A1A1A;
                opacity: 1;
                padding-left: 1rem;
                padding-top: 1.125rem;
                padding-bottom: 1.125rem;
            }
        }

        &__rowBtm {
            font-family: 'Albert Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.375rem;
            color: #000000;

            &__cell {
                opacity: 0.3;
                padding-left: 1rem;
                padding-top: 1.125rem;
                padding-bottom: 1.125rem;
            }
        }


        &__row--bookNow {
            font-family: 'Cy';
            color: #7B3CEA;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 0.875rem;
            padding-left: 1rem;
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
            text-decoration: underline;
        }

        &__row--booked {
            padding-left: 1rem;
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
        }

        &__rowBtm--bookNow {
            font-family: 'Cy';
            color: #7B3CEA;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 0.875rem;
            padding-left: 1rem;
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
            text-decoration: underline;
        }
    }
}