.buttonSection {
    display: flex;
    justify-content: space-around;
    width: 13.1rem;

    &__button {
        border: solid 1px #280B3D;
        border-radius: 0 0 10px 0;
        font-family: 'Cy', sans-serif;
        padding: 0.75rem;
        color: #280B3D;
        font-weight: 600;
    }

    &__imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}