.header {
    height: 15.375rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

    @media(min-width:1024px) {
        padding-right: 1.875rem;
    }

    &__upper {
        background-color: #FFFFFF;
        width: 100%;
        height: 5.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__logo {
            width: 5.625rem;
            margin-left: 1.875rem;
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(0.25turn, #67D0AC, #5499DA, #5D3DE8, #8C41E8);
            border-image-slice: 1;
        }
    }

    &__lower {
        background-color: #FFFFFF;
        height: 100%;
        padding-left: 1.875rem;

        @media(min-width:424px) {
            padding-left: 3.75rem;
        }

        &__breadCrumbs {
            display: flex;
            flex-direction: row;
            font-family: 'Albert Sans';
            padding-top: 1rem;

            @media(min-width:484px) {
                padding-top: 3.046875rem;
            }

            &__container {
                display: flex;
                flex-direction: row;
                font-weight: 400;
                margin-right: 0.515625rem;
                color: #48305A;
                size: 0.75rem;
                line-height: 1.25rem;

                &__arrowContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 0.515625rem;

                    &__arrow {
                        border: solid #6E637E;
                        margin-top: 0.0625rem;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 0.125rem;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                    }
                }
            }

            &__container--last {
                color: #B4ACBB;
            }
        }

        &__titleCard {
            font-family: 'Cy';
            font-size: 2.5rem;
            line-height: 2.875rem;
            color: #280B3D;
            padding-top: 0.625rem;
        }

        &__assessmentBtn {
            font-family: Albert Sans;
            font-size: 12px;
            line-height: 20px;
            color: #280B3D;
            padding: 5px 12px;
            width: 3.4375rem;
            height: 1.875rem;
            background: #F7F5F1;
            border-radius: 100px;
            margin-top: 0.625rem;
        }
    }
}